.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  min-height: 100vh;
}

.header {
  padding: 20px;
  display: flex;
}

.button-container {
  align-items: center;
  margin-top: 10px;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
